.servicos-container {
  min-height: 100vh; /* ocupa a tela inteira */
  padding: 60px 20px;
  background: linear-gradient(135deg, #000000, #000000);
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.servicos-container h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.servicos-container p {
  color: #ffffff;
  font-size: 1.1rem;
  margin-bottom: 40px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  max-width: 1000px;
}

.servico-card {
  background: #fff;
  padding: 25px 20px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(77, 73, 73, 0.301);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.servico-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 18px rgb(77, 73, 73, 0.301);
}

.servico-card h2 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #000000;
}

.servico-card p {
  color: #000000;
  font-size: 1rem;
  line-height: 1.5;
}
